a {
  color: #6688BB;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255,255,255,0.5);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
  border-radius: 0.2em;
  
  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(250,250,250,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.3);
}
body {
 background: rgb(215, 215, 215);
 font-family: 'Open Sans', Arial, sans-serif;
    
  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));    
}
dt {
 font-weight: bold;
}
dd {
 font-size: 90%;
 margin-bottom: 1em;
}
h1, h2, h3 {
 margin: 10px 0;
}
pre, textarea { 
 margin: 10px 0;
 padding: 0.2em;
}
table.wide {
 margin: auto 1em;
 width: 100%;
}
table.wide tr {
 line-height: 2em;
}
ul, ol {
 margin: 5px 0;
}
ul.relax li, ol.relax li {
 margin: 1em 10px;
}
ul.wide, ol.wide { width: 45%; }

ul li, ol li {
 line-height: 1.3em;
}

.left { float: left; }
.huge {
 font-size: 50px;
 width: 850px;
}
.slide {
  width: 900px;
  height: 700px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);

  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  line-height: 36px;
  letter-spacing: -1px;
}
.small { font-size: 80%; }

.step {
  position: relative;
  padding: 20px;
  font-size: 30px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  line-height: 1.5;
  opacity: 0.4;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}
.step.active, .step.active > .fadeIn { opacity: 1; }

.fadeIn {
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
  
  opacity: 0;
}

.wir, .wir textarea { font-size: 26px; }
.wir button {
 font-family: courier new, sans-serif;
 font-size: 20px;
 font-weight: bolder;
 height: 40px;
 letter-spacing: -2px;
 margin: 0 10%;
 min-width: 150px;
 max-width: 80%;
}
.wir pre { padding: 0; }
.wir code { padding: 4px 8px; }
.wir .output, .wir .error, .wir .success { 
 letter-spacing: -2px;
 line-height: 1.2em;
 white-space: normal;
 min-height: 0.95em;
}
.wir .error, .wir .success { 
 margin: 0; 
 padding: 0px 7px; 
}
.wir .error {
 background-color: #992233;
 border: 1px solid #AA3322;
 color: #DD9966;
}
.wir .success {
 background-color: #339922;
 border: 1px solid #33AA22;
 color: #F7F7F7;
}