a {
    color: #6688BB;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(250,250,250,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.3);
}
h1 { text-align: center; }
h1, h2, h3 {
    margin: 10px 0;
}
body {
    background-image: url(../img/itu.jpg);
    font-family: 'Open Sans', Arial, sans-serif;
}
dl dt {
    font-weight: bold;
    font-size: 110%;
    margin: 20px;
}
table.border td, table.border th {
 border: 1px solid #888;
 width: 20%;
}

#programTable td:nth-child(2) {
    text-align: left;
}

.big { font-size: 200%; }
.center { text-align: center; }

.left { text-align: left !important;}
.portrait {
    position: relative;
    margin: 0 auto;
    width: 240px;
}
.portrait img {
    position: absolute;
    clip: rect(10px 240px 220px 0px);
    left: 0;
    margin: 0 0 0 5px;
    width: 240px;
}

.right { text-align: right !important; }

.slide {
    width: 900px;
    height: 700px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, .3);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    line-height: 36px;
    letter-spacing: -1px;
}
.slide.oneliner {
    font-size: 70px;
    font-weight: bold;
    padding-top: 260px;
    vertical-align: middle;
    text-align: center;
}
.slide.break {
    background: #FFF url("../img/pause.png") 50% 50% no-repeat;
    padding-top: 100px;
}
.slide.nav {
    margin-top: 70px;
    height: 500px;
    width: 700px;
}
.slide.nav.oneliner { padding-top: 140px; }

.small {
    font-size: 70%;
}

.step {
    position: relative;
    padding: 20px;
    font-size: 30px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    line-height: 1.5;
    opacity: 0.4;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
.step.active { opacity: 1; }
.tiny { font-size: 40%; }