a {
  color: #6688BB;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255,255,255,0.5);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
  border-radius: 0.2em;
  
  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(250,250,250,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.3);
}
h1 { text-align: center; }
h1, h2, h3 {
 margin: 10px 0;
}
body {
 background-image: url(../img/itu.jpg);
 font-family: 'Open Sans', Arial, sans-serif;
}
dl dt {
 font-weight: bold;
 font-size: 110%;
 margin: 20px;
}
table {
 border-spacing: 10px;
}
table.center td { text-align: center; }
table.removeColumn1 th:nth-child(2),
table.removeColumn1 td:nth-child(2) { display: none; }
table.removeColumn3 th:nth-child(4),
table.removeColumn3 td:nth-child(4) { display: none; }
td {
 padding: 0 3px;
 vertical-align: top;
}
td.common {
 background-color: #EEE2FF;
}
td.other {
 background-color: #F5F5F5;
}
td.project {
 background-color: #E7FFDF;
}

.big { font-size: 200%; }
.center { text-align: center; }

.free h1, .free h2,.free h3 {
  color: rgb(10, 10, 10);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .4);
  line-height: 36px;
  letter-spacing: -1px;
  margin: 40px 0;
}
.right { text-align: right !important; }

.slide {
  width: 900px;
  height: 700px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, .3);

  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  line-height: 36px;
  letter-spacing: -1px;
}
.slide.oneliner {
 font-size: 70px;
 font-weight: bold;
 padding-top: 260px;
 vertical-align: middle;
 text-align: center;
}
.slide.break {
 background: #FFF url("../img/pause.png") 50% 50% no-repeat;
 padding-top: 100px;
}

.small {
 font-size: 70%;
}

.step {
  position: relative;
  padding: 20px;
  font-size: 30px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  line-height: 1.5;
  opacity: 0.4;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}
.step.active { opacity: 1; }
.tiny { font-size: 40%; }